<nav class="navbar is-dark is-spaced" aria-label="main navigation" "role"="navigation">
  <div class="navbar-brand">
    <%= link_to 'Examples', root_path, class: 'navbar-item' %>
  </div>
  <div id="bulma_form_builder_dumm_navbar" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Default (without BulmaFormBuilder)", default_form_builder_path, class: "navbar-item" %>
      <%= link_to "with BulmaFormBuilder::FormBuilder", form_builder_path, class: "navbar-item" %>
      <%= link_to "with BulmaFormBuilder::FormBuilder (object backed)", form_builder_object_backed_path, class: "navbar-item" %>
    </div>
  </div>
</nav>
